#view-extensions {
	padding: 15px 25px;
	overflow-y: auto;
	max-height: 100%;
}

#view-extensions .extension-symbol {
	max-width: 25px;
	max-height: 25px;
	vertical-align: middle;
}

#view-extensions .features .item img {
	max-width: 25px;
	max-height: 25px;
	vertical-align: middle;
}

#view-extensions .pawns img {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

#view-extensions .tiles .items {
	margin: 0 -10px;
}

#view-extensions .tiles .item {
	display: inline-block;
	width: 120px;
	padding: 10px;
}

#view-extensions .tiles .item img {
	height: 100px;
	width: 100px;
}