@import url("../css/variables.css");

/* region: Board. */
#view-play {
	height: 100%;
}
#view-play .board {
	padding: 10px;
	text-align: center;
	overflow: auto;
	width: calc(100% - var(--sidebar-width));
}
/* endregion */

/* region Sidebar. */
#view-play .sidebar {
	overflow-y: auto;
	width: var(--sidebar-width);
}

#view-play .sidebar > * {
	padding: 10px;
}
/* endregion */