#view-setup {
	height: 100%;
	display: flex;
}

#view-setup > div {
	padding: 15px 25px;
	max-height: 100%;
	overflow-y: auto;
}

#view-setup > div:nth-child(1) {
	min-width: 400px;
	background: #ded;
}

#view-setup > div:nth-child(2) {
	background: beige;
	flex: 1;
}