/* region: Current tile. */
.tc-current-tile .actions {
	float: right;
	width: 50px;
}
/* endregion */

/* region: Players. */
.tc-players ul {
	padding-left: 0;
	list-style-type: none;
}

.tc-players li {
	margin-bottom: 10px;
}

.tc-players .bullet {
	display: inline-block;
	width: 11px;
	height: 11px;
	border-radius: 15px;
}

.tc-players .player-pawns {
	margin-top: 3px;
}

.tc-players li.current .name {
	font-weight: bold;
}

.tc-players img {
	vertical-align: middle;
}
/* endregion */

/* region: Statistics. */

/* endregion */

/* region: Timeline. */
.tc-timeline {
	height: 30%;
	overflow-y: auto;
}

.tc-timeline div {
	padding: 5px 10px;
}

.tc-timeline ul {
	padding-left: 16px;
}
/* endregion */

/* region: Player actions. */
.tc-player-actions {
	position: fixed;
	top: 75px;
	left: 100px;
	right: calc(100px + var(--sidebar-width));
	background: #fc8;
	padding: 15px;
	text-align: center;
}
/* endregion */

/* region: Board. */
.tc-board {
	display: inline-table;
}

.tc-board td,
.tc-board th {
	padding: 0;
	vertical-align: middle;
	text-align: center;
	position: relative;
}

.tc-board th {
	width: var(--board-label-size);
	min-width: var(--board-label-size);
	height: var(--board-label-size);
	min-height: var(--board-label-size);
	background: beige;
	font-size: 11px;
}

.tc-board td.empty {
	background: #eee;
}

.tc-board td.empty.accessible {
	background: #ded;
}

.tc-board td.empty.accessible.preview img.tile {
	opacity: 50%;
}

.tc-board td.empty.accessible.preview-valid img.tile {
	cursor: pointer;
}

.tc-board td.empty.accessible.preview-invalid {
	background: red;
}

.tc-board td.empty.accessible .preview-button {
	display: block;
	position: absolute;
	top: 5px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.5);
	text-shadow: white 0 0 2px;
	color: black;
	border-radius: 2px;
}

.tc-board td.empty.accessible .preview-button-rotate-left {
	left: 5px;
}

.tc-board td.empty.accessible .preview-button-rotate-right {
	right: 5px;
}

.tc-board td .feature {
	display: block;
	position: absolute;
}

.tc-board td .feature.accessible {
	cursor: pointer;
	border: 2px solid #558;
	border-radius: 18px;
	background: #88b;
	opacity: 0.7;
}

.tc-board td .feature.accessible:hover {
	opacity: 1;
}

.tc-board td.box,
.tc-board img.tile,
.tc-board td .pawn,
.tc-board td .pawn img,
.tc-board td .feature {
	transition: width 1s, min-width 1s, height 1s, min-height 1s, margin 1s, padding 1s;
}

/** Zoom x1 */
.tc-board.zoom-x1 td.box,
.tc-board.zoom-x1 img.tile {
	width: var(--tile-size);
	min-width: var(--tile-size);
	height: var(--tile-size);
	min-height: var(--tile-size);
}

.tc-board.zoom-x1 .preview-button {
	width: 16px;
	height: 16px;
	font-size: 10px;
}

.tc-board.zoom-x1 td .feature {
	width: 18px;
	height: 18px;
	margin-left: -9px;
	margin-top: -9px;
}

.tc-board.zoom-x1 td .pawn {
	padding: 0 2px 4px 2px;
}

.tc-board.zoom-x1 td .pawn img {
	width: 14px;
	height: 14px;
}

/** Zoom x2 */
.tc-board.zoom-x2 td.box,
.tc-board.zoom-x2 img.tile {
	width: calc(2 * var(--tile-size));
	min-width: calc(2 * var(--tile-size));
	height: calc(2 * var(--tile-size));
	min-height: calc(2 * var(--tile-size));
}

.tc-board.zoom-x2 .preview-button {
	width: 20px;
	height: 20px;
}

.tc-board.zoom-x2 td .feature {
	width: 26px;
	height: 26px;
	margin-left: -13px;
	margin-top: -13px;
}

.tc-board.zoom-x2 td .pawn {
	padding: 0 3px 6px 3px;
}

.tc-board.zoom-x2 td .pawn img {
	width: 20px;
	height: 20px;
}

/** Zoom x4 */
.tc-board.zoom-x4 td.box,
.tc-board.zoom-x4 img.tile {
	width: calc(4 * var(--tile-size));
	min-width: calc(4 * var(--tile-size));
	height: calc(4 * var(--tile-size));
	min-height: calc(4 * var(--tile-size));
}

.tc-board.zoom-x4 .preview-button {
	width: 30px;
	height: 30px;
	padding: 3px;
}

.tc-board.zoom-x4 td .feature {
	width: 38px;
	height: 38px;
	margin-left: -19px;
	margin-top: -19px;
}

.tc-board.zoom-x4 td .pawn {
	padding: 0 5px 10px 5px;
}

.tc-board.zoom-x4 td .pawn img {
	width: 28px;
	height: 28px;
}
/* endregion */