/**
 * tile-description component
 */
.tile-description {
	width: 550px;
}

.tile-description .tile-container {
	position: relative;
	height: 200px;
	width: 200px;
}

.tile-description .tile-container img {
	height: 200px;
	width: 200px;
}


.tile-description .tile-container .feature {
	display: block;
	position: absolute;
	border: 2px solid #558;
	border-radius: 18px;
	background: #88b;
	opacity: 0.5;
	width: 30px;
	height: 30px;
	margin-left: -15px;
	margin-top: -15px;
}

.tile-description .tile-container .feature:hover:not(.current) {
	opacity: 0.9;
	cursor: pointer;
}

.tile-description .tile-container .feature.current {
	background: #fe6;
	border-color: #980;
}

.tile-description .tile-container .feature.neighbour {
	background: #8d8;
	border-color: #272;
}

.tile-description .feature-container {
	width: 325px;
	margin-left: 25px;
}

.tile-description .feature-container :first-child {
	margin-top: 0;
}

/**
 * tc-feature-model-summary component
 */
.tc-feature-model-summary .thumbnail {
	vertical-align: middle;
	max-width: 20px;
	max-height: 20px;
}