/* region: Pawns. */
.tc-pawns-setup .pawn-item img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
/* endregion */

/* region: Tiles list & first tile. */
.tc-tiles-list-setup .extension-symbol {
	max-width: 25px;
	max-height: 25px;
	vertical-align: middle;
}

.tc-first-tile-setup .tiles,
.tc-tiles-list-setup .tiles,
.tc-tiles-list-setup .features {
	margin: -15px -5px 0 -5px;
}

.tc-first-tile-setup .tiles .item,
.tc-tiles-list-setup .tiles .item,
.tc-tiles-list-setup .features .item {
	display: inline-block;
	width: 110px;
	padding: 5px;
}

.tc-first-tile-setup .tiles .item img,
.tc-tiles-list-setup .tiles .item img {
	height: 100px;
	width: 100px;
}

.tc-first-tile-setup .tiles .item label,
.tc-tiles-list-setup .tiles .item label,
.tc-tiles-list-setup .features .item {
	font-size: 13px
}

.tc-first-tile-setup .tiles .item input,
.tc-tiles-list-setup .tiles .item input {
	margin: 0;
}

.tc-tiles-list-setup .features .item {
	text-align: center;
}
.tc-tiles-list-setup .features .item .image-container {
	height: 50px;
	width: 100px;
}

.tc-tiles-list-setup .features .item img {
	max-height: 50px;
	max-width: 100px;
}
/* endregion */