@import url("variables.css");
@import url("reset.css");
@import url("tools.css");

/**
 * Content.
 */

#content {
	position: fixed;
	top: var(--header-height);
	bottom: var(--footer-height);
	left: 0;
	right: 0;
}

img.tile {
	vertical-align: middle;
	margin: 0;
}

/**
 * Header.
 */

#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--header-height);
	padding: 5px 20px 5px 20px;
}

#header h1 {
	font-size: 20px;
	margin: 0 50px 0 0;
	display: inline-block;
}

#header #menu {
	display: inline-block;
	float: right;
	margin-left: 50px;
}

/**
 * Footer.
 */

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: var(--footer-height);
	text-align: center;
	font-size: 10px;
	padding: 8px;
}

/**
 * Zones BG.
 */

#header {
	background: rgba(150, 150, 150, 0.5);
}

.board {
	background: rgba(150, 256, 150, 0.5);
}

.sidebar,
.tc-timeline {
	background: rgba(150, 150, 256, 0.5);
}

#footer {
	background: rgba(256, 150, 150, 0.5);
}

/**
 * Pawns with shadow.
 */

.pawn {
	display: inline-block;
	background: center bottom / contain no-repeat url("../images/elements/shadow.svg");
	vertical-align: middle;
}

.pawn img {
	vertical-align: middle;
}

.pawn-26 {
	padding: 0 3px 6px 3px;
}

.pawn-26 img {
	width: 20px;
	height: 20px;
}

/**
 * Interactions.
 */

button:not([disabled]),
.clickable {
	cursor: pointer;
}

button[disabled] {
	cursor: not-allowed;
}