/**
 *Icons
 */
.icon-sm {
	vertical-align: middle;
	width: 16px;
	height: 16px;
	padding: 2px;
}

.icon {
	vertical-align: middle;
	width: 20px;
	height: 20px;
	padding: 2px;
}

.icon-lg {
	vertical-align: middle;
	width: 30px;
	height: 30px;
	padding: 3px;
}

/**
 * Visibility.
 */
.hidden {
	display: none;
}

/**
 * Rotations.
 */
.rotate-90 {
	transform: rotate(90deg);
}

.rotate-180 {
	transform: rotate(180deg);
}

.rotate-270 {
	transform: rotate(270deg);
}

.flip-horizontal {
	transform: scale(-1, 1);
}

.flip-vertical {
	transform: scale(1, -1);
}

.flip-both, .flip-horizontal.flip-vertical {
	transform: scale(-1, -1);
}

/**
 * Positioning.
 */
.pull-right {
	float: right;
}

/**
 * Text.
 */
.text-muted {
	color: #888;
}

/**
 * Layout.
 */
.flex-horizontal {
	display: flex;
	flex-direction: row;
}